@charset "utf-8";
/*
 *
 *	010.	CONTENTS
 *
 * -------------------------------------------------- */
#wrapperMiddle #keyVisual {
  background: url(http://techkidscamp.jp/img/cnt_img_keyVisual.jpg) no-repeat center top;
  background-size: cover;
  width: 100%;
  height: 580px;
  margin-bottom: 70px; }
  #wrapperMiddle #keyVisual .keyVisualInner {
    max-width: 1160px;
    padding: 0 20px;
    margin: 0 auto;
    overflow: hidden; }
  #wrapperMiddle #keyVisual img#main {
    display: none; }
  #wrapperMiddle #keyVisual h2 {
    width: 100%;
    padding-top: 223px;
    margin-bottom: 40px; }
#wrapperMiddle #contentsArea {
  background-color: #eee; }
  #wrapperMiddle #contentsArea .innerWrap {
    background-color: #fff;
    padding-bottom: 30px; }
  #wrapperMiddle #contentsArea #contentsBox {
    max-width: 1150px; }
    #wrapperMiddle #contentsArea #contentsBox h3 {
      margin-bottom: 44px; }
    #wrapperMiddle #contentsArea #contentsBox #contentsList {
      overflow: hidden; }
      #wrapperMiddle #contentsArea #contentsBox #contentsList dl {
        float: left;
        width: 30.6%;
        min-height: 410px;
        margin: 0 4.1% 80px 0; }
        #wrapperMiddle #contentsArea #contentsBox #contentsList dl dt.cntImg {
          margin-bottom: 22px; }
        #wrapperMiddle #contentsArea #contentsBox #contentsList dl dt.cntTtl {
          margin-bottom: 8px;
          font-size: 1.5em;
          font-weight: normal;
          line-height: 1.2; }
          #wrapperMiddle #contentsArea #contentsBox #contentsList dl dt.cntTtl a {
            display: block;
            -ms-filter: "alpha(opacity=100)";
            filter: alpha(opacity=100);
            opacity: 1; }
            #wrapperMiddle #contentsArea #contentsBox #contentsList dl dt.cntTtl a:hover {
              color: #ccc; }
              #wrapperMiddle #contentsArea #contentsBox #contentsList dl dt.cntTtl a:hover.comingsoon {
                color: #333; }
        #wrapperMiddle #contentsArea #contentsBox #contentsList dl dd {
          font-size: 0.875em;
          font-weight: normal;
          line-height: 1.7; }
          #wrapperMiddle #contentsArea #contentsBox #contentsList dl dd a {
            -ms-filter: "alpha(opacity=100)";
            filter: alpha(opacity=100);
            opacity: 1; }
            #wrapperMiddle #contentsArea #contentsBox #contentsList dl dd a:hover {
              color: #ccc; }
        #wrapperMiddle #contentsArea #contentsBox #contentsList dl:nth-child(3n + 3) {
          margin-right: 0; }
    #wrapperMiddle #contentsArea #contentsBox #socialBox {
      overflow: hidden; }
      #wrapperMiddle #contentsArea #contentsBox #socialBox #fbBlock {
        float: left;
        width: 50%;
        margin-right: 4.1%;
        border: 1px solid #AAA; }
        #wrapperMiddle #contentsArea #contentsBox #socialBox #fbBlock iframe {
          height: 480px; }
      #wrapperMiddle #contentsArea #contentsBox #socialBox #twBlock {
        float: left;
        width: 30.6%; }

/*
 *
 *	020.	RESPONSIVE
 *
 * -------------------------------------------------- */
@media screen and (max-width: 1125px) and (min-width: 910px) {
  /*
   *  CONTENTS
   *  @media screen and (max-width: 1125px) and (min-width: 910px)
   * -------------------------------------------------- */ }
@media screen and (max-width: 909px) and (min-width: 613px) {
  /*
   *  CONTENTS
   *  @media screen and (max-width: 909px) and (min-width: 613px)
   * -------------------------------------------------- */
  #wrapperMiddle #keyVisual {
    height: 350px; }
    #wrapperMiddle #keyVisual h2 {
      padding-top: 100px; }
      #wrapperMiddle #keyVisual h2 img {
        height: 160px; }
  #wrapperMiddle #contentsArea #contentsBox #socialBox #fbBlock {
    float: none;
    width: 100%;
    margin-bottom: 30px; }
  #wrapperMiddle #contentsArea #contentsBox #socialBox #twBlock {
    float: none;
    width: 100%;
    max-width: 520px;
    margin: 0 auto; } }
@media screen and (max-width: 612px) {
  /*
   *  CONTENTS
   *  @media screen and (max-width: 612px)
   * -------------------------------------------------- */
  #wrapperMiddle #keyVisual {
    background: none;
    height: auto; }
    #wrapperMiddle #keyVisual .keyVisualInner {
      padding: 0; }
    #wrapperMiddle #keyVisual img#main {
      display: inline; }
    #wrapperMiddle #keyVisual h2 {
      width: 90%;
      padding: 20px 5%;
      margin-bottom: 0; }
      #wrapperMiddle #keyVisual h2 img {
        max-width: 100%;
        vertical-align: middle; }
  #wrapperMiddle #contentsArea {
    background-color: #fff; }
    #wrapperMiddle #contentsArea #contentsBox #contentsList dl {
      float: none;
      width: 100%;
      margin: 0 0 80px 0; }
      #wrapperMiddle #contentsArea #contentsBox #contentsList dl dt.cntImg {
        margin-bottom: 22px;
        text-align: center; }
      #wrapperMiddle #contentsArea #contentsBox #contentsList dl dt.cntTtl {
        margin-bottom: 8px;
        font-size: 1.5em;
        font-weight: normal;
        line-height: 1; }
      #wrapperMiddle #contentsArea #contentsBox #contentsList dl dd {
        font-size: 0.875em;
        font-weight: normal;
        line-height: 1.7; }
      #wrapperMiddle #contentsArea #contentsBox #contentsList dl:nth-child(2n + 2) {
        margin-right: 0; }
    #wrapperMiddle #contentsArea #contentsBox #socialBox #fbBlock {
      float: none;
      width: 100%;
      margin-bottom: 30px; }
    #wrapperMiddle #contentsArea #contentsBox #socialBox #twBlock {
      float: none;
      width: 100%;
      max-width: 520px;
      margin: 0 auto; } }
