@charset "utf-8";
/* --------------------------------------------------
 *
 *  000.	RESET OVERRIDE
 *  010.	LAYOUT
 *  020.	HEADER
 *  030.	BREADCRUMB
 *  040.	CONTENTS
 *  050.	FOOTER
 *  060.	PARTS
 *  070.	MEDIAQUERIES
 *
 * -------------------------------------------------- */
/*
 *
 *  000.	RESET OVERRIDE
 *
 * -------------------------------------------------- */
body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Helvetica, Arial, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #000;
  -webkit-text-size-adjust: 100%; }

h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dd {
  padding: 0;
  margin: 0; }

img {
  max-width: 100%;
  line-height: 1;
  vertical-align: top; }

a {
  color: #333333;
  text-decoration: none; }
  a:hover {
    text-decoration: none;
    -ms-filter: "alpha(opacity=50)";
    filter: alpha(opacity=50);
    opacity: 0.5; }
    a:hover.comingsoon {
      cursor: default;
      -ms-filter: "alpha(opacity=100)";
      filter: alpha(opacity=100);
      opacity: 1; }
  a:active {
    -ms-filter: "alpha(opacity=50)";
    filter: alpha(opacity=50);
    opacity: 0.5; }

address {
  font-style: normal; }

/*
 *
 *	020.	HEADER
 *
 * -------------------------------------------------- */
/*#wrapperTop {
  background-color: #fff;
  width: 100%;
  height: 98px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; }
  #wrapperTop #headerArea {
    max-width: 1150px;
    height: 98px;
    margin: 0 auto;
    position: relative; }
    #wrapperTop #headerArea #siteID {
      position: absolute;
      top: 32px;
      left: 20px; }
    #wrapperTop #headerArea #nav ul {
      position: absolute; }
      #wrapperTop #headerArea #nav ul li {
        display: inline-block;
        *display: inline;
        *zoom: 1; }
      #wrapperTop #headerArea #nav ul#globalNav {
        line-height: 27px;
        top: 30px;
        left: 375px; }
        #wrapperTop #headerArea #nav ul#globalNav li {
          margin-right: 30px;
          vertical-align: middle;
          font-size: 0.875em;
          font-weight: bold;
          letter-spacing: -0.4em; }
          #wrapperTop #headerArea #nav ul#globalNav li a {
            display: block;
            height: 40px;
            line-height: 40px;
            letter-spacing: normal; }
            #wrapperTop #headerArea #nav ul#globalNav li a.current {
              -ms-filter: "alpha(opacity=50)";
              filter: alpha(opacity=50);
              opacity: 0.5; }
          #wrapperTop #headerArea #nav ul#globalNav li:last-child {
            margin-right: 0; }
      #wrapperTop #headerArea #nav ul#socialNav {
        top: 36px;
        right: 20px; }
        #wrapperTop #headerArea #nav ul#socialNav li img {
          vertical-align: middle; }
    #wrapperTop #headerArea #nav p#contact {
      position: absolute;
      top: 20px;
      right: 118px; }
    #wrapperTop #headerArea #menu {
      display: none;
      padding: 5px 5px 4px 3px;
      border: 1px solid #333;
      border-radius: 3px;
      font-size: 1.25em;
      line-height: 1;
      position: absolute;
      top: 60px;
      right: 226px; }
      #wrapperTop #headerArea #menu:before {
        font-family: 'fontello';
        content: '\e800';
        color: #333;
        margin: 0 3px; }

#wrapperMiddle {
  padding-top: 98px;
*/  /*background-color: #030303;}*/ 

.scroll {
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
  -ms-filter: "alpha(opacity=90)";
  filter: alpha(opacity=90);
  opacity: 0.9; }
  

/*メインビジュアルが画面いっぱいの場合*/
.socialBtn--wideVer .fb-button {float:left;margin:-5px 15px 0 0;}
.socialBtn--wideVer .tw-button {float:left;margin:0 15px 0 0;}
.socialBtn--wideVer .line-button {float:left;margin:0 10px 0 0;}
.socialBtn--wideVer .ameblo-button {}


/*メインビジュアルが960pxの場合*/
.fb-button {float:left;margin:0 10px 0 0;}
.tw-button {float:left;margin:0 -32px 0 0;}
.line-button {float:left;margin:0 10px 0 0;}
.ameblo-button {}

.alert_msg {color:#ff0000;}


/*
 *
 *	050.	FOOTER
 *
 * -------------------------------------------------- */
#wrapperBottom {
  background: #eeeeee; }
  #wrapperBottom #footerArea {
    padding-bottom: 80px; }
    #wrapperBottom #footerArea #footerNav {
      padding-top: 55px;
      text-align: center; }
      #wrapperBottom #footerArea #footerNav ul li {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        margin-right: 32px;
        vertical-align: middle;
        font-size: 0.875em; }
        #wrapperBottom #footerArea #footerNav ul li a {
          color: #000;
          text-decoration: none; }
        #wrapperBottom #footerArea #footerNav ul li:last-child {
          margin-right: 0; }
    #wrapperBottom #footerArea p#copyright {
      padding-top: 55px;
      font-size: 0.75em;
      font-weight: normal;
      color: #000;
      text-align: center; }

/*
 *
 *	060.	PARTS
 *
 * -------------------------------------------------- */
.outer {
  width: 100%;
  padding-bottom: 10px;
  overflow: hidden; }

.inner {
  max-width: 950px;
  padding: 0 20px;
  margin: 0 auto;
  overflow: hidden; }

.max_msg {
  text-decoration: line-through; }

.mini {
  width: 320px !important; }
.sub_mini {
  width: 400px !important; }

.guide_mini {
  margin:0px !important;font-size:10px;}

.guide_mini a {
  padding: 4px 4px 4px 50px !important; width: 150px !important;}

.appBtn {
  width: 600px;
  margin: 0 auto 40px;
  position: relative; }
  .appBtn a {
    display: block;
    background: url(../img/cnt_ico_arrowWhite.png) no-repeat 12px center #ee0087;
    padding: 15px 0 11px 50px;
    color: #fff;
    font-size: 1.5625em; }
    .appBtn a br {
      display: none; }

.appBtn02 {
  width: 600px;
  margin: 0 auto 40px;
  position: relative; }
  .appBtn02 a {
    display: block;
    background: url(../img/cnt_ico_arrowWhite.png) no-repeat 12px center #ee0087;
    padding: 15px 0 11px 50px;
    color: #fff;
    font-size: 1.5625em;  }
    .appBtn02 a:hover {
      -ms-filter: "alpha(opacity=80)";
      filter: alpha(opacity=80);
      opacity: 0.8;}
    .appBtn02 a br {
      display: inline; }

.appBtn03 {
  width: 60px;
  margin: 0 auto 40px;
  position: relative; }
  .appBtn03 a {
    display: block;
    background: url(../img/cnt_ico_arrowWhite.png) no-repeat 12px center #00a4e7;
    padding: 15px 10px 11px 50px;
    text-align: center;
    color: #fff;
    font-size: 1.5625em; }
    .appBtn03 a:hover {
      -ms-filter: "alpha(opacity=80)";
      filter: alpha(opacity=80);
      opacity: 0.8; }
    .appBtn03 a br {
      display: none; }

.appBtn04 {
  width: 488px;
  margin: 0 auto 40px;
  position: relative; }
  .appBtn04 a {
    display: block;
    background: url(../img/cnt_ico_arrowWhite.png) no-repeat 12px center #00a4e7;
    padding: 15px 0 11px 50px;
    color: #fff;
    font-size: 1.5625em; }
    .appBtn04 a:hover {
      -ms-filter: "alpha(opacity=80)";
      filter: alpha(opacity=80);
      opacity: 0.8; }
    .appBtn04 a br {
      display: none; }
      
.appBtnBlue a {
  background-color: #00a4e7 !important; }

.clear {
  clear: both; }

#pageTop {
  background-color: #dddddd;
  width: 58px;
  height: 58px;
  position: fixed;
  right: 26px;
  bottom: 25px; }
  #pageTop a {
    display: block;
    width: 58px;
    height: 40px;
    padding-top: 14px;
    text-align: center; }

@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?66731157");
  src: url("../font/fontello.eot?66731157#iefix") format("embedded-opentype"), url("../font/fontello.woff?66731157") format("woff"), url("../font/fontello.ttf?66731157") format("truetype"), url("../font/fontello.svg?66731157#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em; }

.icon-menu:before {
  content: '\e800'; }

/*
 *
 *	070.	RESPONSIVE
 *
 * -------------------------------------------------- */
@media screen and (max-width: 1125px) and (min-width: 910px) {
	
	
	/*
   *	HEADER
   * -------------------------------------------------- */
/*  #wrapperTop {
    height: 148px; }
    #wrapperTop #headerArea {
      height: 148px; }
      #wrapperTop #headerArea #nav ul#globalNav {
        overflow: hidden;
        top: 95px;
        left: 20px; }
        #wrapperTop #headerArea #nav ul#globalNav li {
          width: auto;
          margin-right: 20px; }
          #wrapperTop #headerArea #nav ul#globalNav li:nth-of-type(3) {
            width: auto; }


  #wrapperMiddle {
    padding-top: 148px;
    background-color: ; }*/

  /*
   *	FOOTER
   * -------------------------------------------------- */
  #wrapperBottom #footerArea #footerNav {
    float: none; }
    #wrapperBottom #footerArea #footerNav ul {
      margin-bottom: 20px;
      text-align: center; }
      #wrapperBottom #footerArea #footerNav ul li:last-child {
        margin-right: 0; }
  #wrapperBottom #footerArea p#copyright {
    float: none;
    padding-top: 0;
    text-align: center; } }
@media screen and (max-width: 909px) and (min-width: 613px) {
  /*
   *	HEADER
   * -------------------------------------------------- */
/*  #wrapperTop {
    height: 148px; }
    #wrapperTop #headerArea {
      height: 148px; }
      #wrapperTop #headerArea #nav ul#globalNav {
        overflow: hidden;
        top: 95px;
        left: 20px; }
        #wrapperTop #headerArea #nav ul#globalNav li {
          width: auto;
          margin-right: 20px; }
          #wrapperTop #headerArea #nav ul#globalNav li:nth-of-type(3) {
            width: auto; }
          #wrapperTop #headerArea #nav ul#globalNav li:nth-of-type(4) {
            width: auto;
            margin-right: 0; }

  #wrapperMiddle {
    padding-top: 148px; }*/

  /*
   *	FOOTER
   * -------------------------------------------------- */
  #wrapperBottom #footerArea #footerNav {
    float: none; }
    #wrapperBottom #footerArea #footerNav ul {
      margin-bottom: 20px;
      text-align: center; }
      #wrapperBottom #footerArea #footerNav ul li:last-child {
        margin-right: 0; }
  #wrapperBottom #footerArea p#copyright {
    float: none;
    padding-top: 0;
    text-align: center; } }
@media screen and (max-width: 612px) {
  /*
   *	HEADER
   * -------------------------------------------------- */
 /* #wrapperTop {
    height: 70px;
    padding: 0; }
    #wrapperTop #headerArea {
      height: 70px;
      overflow: inherit;
      position: relative; }
      #wrapperTop #headerArea #siteID {
        margin: 0 75px 0 0;
        top: 17px;
        left: 20px; }
        #wrapperTop #headerArea #siteID img {
          max-width: 100%; }
      #wrapperTop #headerArea #nav {
        width: 100%;
        height: 0;
        position: absolute;
        top: 70px;
        left: 0;
        z-index: 1000;
        overflow: hidden; }
        #wrapperTop #headerArea #nav .nav_outer {
          padding-bottom: 10px;
          overflow: hidden; }
        #wrapperTop #headerArea #nav ul {
          position: static; }
          #wrapperTop #headerArea #nav ul#globalNav {
            background-color: #fff;
            width: 100%;
            height: auto;
            text-align: center;
            border-top: 1px solid #666; }
            #wrapperTop #headerArea #nav ul#globalNav li {
              display: block;
              width: 100%;
              margin-right: 0;
              border-bottom: 1px solid #666; }
              #wrapperTop #headerArea #nav ul#globalNav li a {
                display: block;
                padding: 2px 0;
                color: #000; }
          #wrapperTop #headerArea #nav ul#socialNav {
            background-color: #fff;
            padding: 0 0 15px;
            text-align: center; }
            #wrapperTop #headerArea #nav ul#socialNav li {
              display: inline-block; }
        #wrapperTop #headerArea #nav p#contact {
          background-color: #fff;
          padding: 10px;
          text-align: center;
          position: static; }
      #wrapperTop #headerArea p#menu {
        display: block;
        top: 17px;
        right: 20px;
        cursor: pointer; }
        #wrapperTop #headerArea p#menu:hover {
          background-color: #ccc; }

  #wrapperMiddle {
    padding-top: 70px; }
    #wrapperMiddle #priceArea {
      background-color: #fff; }*/

  /*
   *	FOOTER
   * -------------------------------------------------- */
  #wrapperBottom {
    background-color: #fff;
    border-top: 1px solid #ccc; }
    #wrapperBottom #footerArea {
      width: 100%;
      padding-bottom: 20px;
      padding-left: 0;
      padding-right: 0; }
      #wrapperBottom #footerArea #footerNav {
        float: none;
        padding: 0; }
        #wrapperBottom #footerArea #footerNav ul {
          margin-bottom: 20px;
          text-align: center; }
          #wrapperBottom #footerArea #footerNav ul li {
            display: block;
            margin-right: 0;
            border-bottom: 1px solid #ccc; }
            #wrapperBottom #footerArea #footerNav ul li a {
              display: block;
              padding: 13px 0 10px; }
            #wrapperBottom #footerArea #footerNav ul li:first-child a {
              padding-top: 10px; }
      #wrapperBottom #footerArea p#copyright {
        float: none;
        padding-top: 0;
        text-align: center;
        font-size: 0.625em; } }


@media screen and (max-width: 612px) {
  /* 
   * appBtn02
   */
.appBtn02 a{
	background:none #ee0087;
}

@media screen and (max-width: 612px) { 

#wrapperMiddle .appBtn02 {
  max-width: 223px;
  margin-bottom: 0px;
  margin-top: 15px; }

#wrapperMiddle .appBtn02 a {
  padding: 18px 10px 14px 20px;
  line-height: 1.2;
  font-size: 1.05em;
}

}
