  /*
   *	HEADER
   * -------------------------------------------------- */


#wrapperTop {
	background-color: #fff;
	width: 100%;
	height: 98px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
}

#wrapperTop #headerArea {
	max-width: 1150px;
	height: 98px;
	margin: 0 auto;
	position: relative;
}

#wrapperTop #headerArea #siteID {
	position: absolute;
	top: 32px;
	left: 20px;
}

#wrapperTop #headerArea #nav ul {
	position: absolute;
}

#wrapperTop #headerArea #nav ul li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

#wrapperTop #headerArea #nav ul#globalNav {
	line-height: 27px;
	top: 30px;
	left: 375px;
}

#wrapperTop #headerArea #nav ul#globalNav li {
	margin-right: 20px;
	vertical-align: middle;
	font-size: 0.875em;
	font-weight: bold;
	letter-spacing: -0.4em;
}

#wrapperTop #headerArea #nav ul#globalNav li a {
	display: block;
	height: 40px;
	line-height: 40px;
	letter-spacing: normal;
}

#wrapperTop #headerArea #nav ul#globalNav li a.current {
	-ms-filter: "alpha(opacity=50)";
	filter: alpha(opacity=50);
	opacity: 0.5;
}

#wrapperTop #headerArea #nav ul#globalNav li:last-child {
	margin-right: 0;
}

#wrapperTop #headerArea #nav ul#socialNav {
	top: 36px;
	right: 20px;
}

#wrapperTop #headerArea #nav ul#socialNav li img {
	vertical-align: middle;
}

#wrapperTop #headerArea #nav p#contact {
    position: absolute;
    top: 20px;
    right: 118px;
}
    
#wrapperTop #headerArea #menu {
	display: none;
	padding: 5px 5px 4px 3px;
	border: 1px solid #333;
	border-radius: 3px;
	font-size: 1.25em;
	line-height: 1;
	position: absolute;
	top: 60px;
	right: 226px;
}

#wrapperTop #headerArea #menu:before {
	font-family: 'fontello';
	content: '\e800';
	color: #333;
	margin: 0 3px;
}



@media screen and (max-width: 1125px) and (min-width: 910px){
	#wrapperTop {
	    height: 148px; 
	}
	#wrapperTop #headerArea {
    	height: 148px; 
	}
    #wrapperTop #headerArea #nav ul#globalNav {
        overflow: hidden;
        top: 95px;
        left: 20px;
    }
    #wrapperTop #headerArea #nav ul#globalNav li {
        width: auto;
        margin-right: 20px;
    }


  	#wrapperMiddle {
    	padding-top: 148px;
    	background-color: ;
    }

}


@media screen and (max-width: 909px) and (min-width: 613px) {
	#wrapperTop {
		height: 148px;
	}
    #wrapperTop #headerArea {
    	height: 148px;
    }
    #wrapperTop #headerArea #nav ul#globalNav {
        overflow: hidden;
        top: 95px;
        left: 20px;
    }
    #wrapperTop #headerArea #nav ul#globalNav li {
          width: auto;
          margin-right: 20px;
    }
	#wrapperMiddle {
    	padding-top: 148px;
	}
}

@media screen and (max-width: 612px) {
	#wrapperTop {
		height: 70px;
		padding: 0;
	}
	#wrapperTop #headerArea {
		height: 70px;
		overflow: inherit;
		position: relative;
	}
	#wrapperTop #headerArea #siteID {
    	margin: 0 75px 0 0;
    	top: 17px;
    	left: 20px;
    }
    #wrapperTop #headerArea #siteID img {
        max-width: 100%;
    }
    #wrapperTop #headerArea #nav {
        width: 100%;
        height: 0;
        position: absolute;
        top: 70px;
        left: 0;
        z-index: 1000;
        overflow: hidden;
    }
    #wrapperTop #headerArea #nav .nav_outer {
        padding-bottom: 10px;
        overflow: hidden;
    }
    #wrapperTop #headerArea #nav ul {
          position: static;
    }
    #wrapperTop #headerArea #nav ul#globalNav {
        background-color: #fff;
        width: 100%;
        height: auto;
        text-align: center;
        border-top: 1px solid #666;
    }
    #wrapperTop #headerArea #nav ul#globalNav li {
        display: block;
        width: 100%;
        margin-right: 0;
        border-bottom: 1px solid #666;
    }
    #wrapperTop #headerArea #nav ul#globalNav li a {
        display: block;
        padding: 2px 0;
        color: #000;
    }
    #wrapperTop #headerArea #nav ul#socialNav {
        background-color: #fff;
        padding: 0 0 15px;
        text-align: center;
    }
    #wrapperTop #headerArea #nav ul#socialNav li {
        display: inline-block;
    }
    #wrapperTop #headerArea #nav p#contact {
        background-color: #fff;
        padding: 10px;
        text-align: center;
        position: static;
    }
    #wrapperTop #headerArea p#menu {
        display: block;
        top: 17px;
        right: 20px;
        cursor: pointer;
    }
    #wrapperTop #headerArea p#menu:hover {
        background-color: #ccc;
    }

	#wrapperMiddle {
    	padding-top: 70px; 
	}
    #wrapperMiddle #priceArea {
    	background-color: #fff;
	}
}



