@charset "utf-8";
/*
 *
 *  010.  CONTENTS
 *
 * -------------------------------------------------- */
#wrapperMiddle #keyVisual {
  background: url(http://techkidscamp.jp/img/cnt_img_keyVisual.jpg) no-repeat center top;
  background-size: cover;
  width: 100%;
  height: 580px;
  margin-bottom: 70px;
}
#wrapperMiddle #keyVisual .keyVisualInner {
  max-width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
  overflow: hidden;
}
#wrapperMiddle #keyVisual img#main {
  display: none;
}
#wrapperMiddle #keyVisual h2 {
  width: 100%;
  padding-top: 45px;
}
#wrapperMiddle #keyVisual h2 img {
  margin-bottom: 2%;
}
#wrapperMiddle #keyVisual .appBtn02 {
  background-color: #fff;
  width: 308px;
  text-align: center;
  margin: -3% 0 5% 0;
}
#wrapperMiddle #keyVisual .appBtn02 a {
  /*    padding-left: 0;*/
  text-indent: 0.5em;
}
#wrapperMiddle .appBtn02 {
  max-width: 40%;
  margin-bottom: 0px;
}
#wrapperMiddle .appBtn02 a {
  padding: 18px 10px 14px 15px;
  line-height: 1.2;
  font-size: 1.4em;
  text-align: center;
}
#wrapperMiddle #contentsArea {
  background-color: #eee;
}
#wrapperMiddle #contentsArea .innerWrap {
  background-color: #fff;
  padding-bottom: 30px;
}
#wrapperMiddle #contentsArea #contentsBox {
  max-width: 1150px;
}
#wrapperMiddle #contentsArea #contentsBox h3 {
  margin-bottom: 44px;
}
#wrapperMiddle #contentsArea #contentsBox #contentsList {
  overflow: hidden;
}
#wrapperMiddle #contentsArea #contentsBox #contentsList dl {
  float: left;
  width: 30.6%;
  min-height: 410px;
  margin: 0 4.1% 80px 0;
}
/*movieBox追加 2014.2.28*/
#wrapperMiddle #contentsArea #movieBox .wrapper {
  max-width: 1150px;
  margin: 0 auto;
  height: auto;
  padding-bottom: 50px;
}
#wrapperMiddle #contentsArea #movieBox .wrapper #mainBox {
  width: 55%;
 background-color:;
  float: right;
  height: auto;
}
#wrapperMiddle #contentsArea #movieBox .wrapper #mainBox #movie {
  width: 100%;
  height: 356px;
}
#wrapperMiddle #contentsArea #movieBox .wrapper #subBox h7 {
  padding: 50px 50px 50px 0;
  margin-top: 20px;
 color:;
  position: relative;
}
#wrapperMiddle #contentsArea #movieBox .wrapper #subBox p {
  padding: 30px 75px 50px 0;
 color:;
}
#wrapperMiddle #contentsArea #movieBox .wrapper #subBox {
  width: 45%;
  min-width: 300px;
  min-height: 356px;
  float: left;
 background-color:;
}
/*#movieBox追加ここまで*/



#wrapperMiddle #contentsArea #contentsBox #contentsList dl dt.cntImg {
  margin-bottom: 22px;
}
#wrapperMiddle #contentsArea #contentsBox #contentsList dl dt.cntTtl {
  margin-bottom: 8px;
  font-size: 1.3em;
  font-weight: normal;
  line-height: 1.2;
}
#wrapperMiddle #contentsArea #contentsBox #contentsList dl dt.cntTtl a {
  display: block;
  -ms-filter: "alpha(opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}
#wrapperMiddle #contentsArea #contentsBox #contentsList dl dt.cntTtl a:hover {
  color: #ccc;
}
#wrapperMiddle #contentsArea #contentsBox #contentsList dl dt.cntTtl a:hover.comingsoon {
  color: #333;
}
#wrapperMiddle #contentsArea #contentsBox #contentsList dl dd {
  font-size: 0.875em;
  font-weight: normal;
  line-height: 1.7;
}
#wrapperMiddle #contentsArea #contentsBox #contentsList dl dd a {
  -ms-filter: "alpha(opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}
#wrapperMiddle #contentsArea #contentsBox #contentsList dl dd a:hover {
  color: #ccc;
}
#wrapperMiddle #contentsArea #contentsBox #contentsList dl:nth-child(3n + 3) {
  margin-right: 0;
}
#wrapperMiddle #contentsArea #contentsBox #socialBox {
  overflow: hidden;
}
#wrapperMiddle #contentsArea #contentsBox #socialBox #fbBlock {
  float: left;
  width: 50%;
  margin-right: 4.1%;
  border: 1px solid #AAA;
}
#wrapperMiddle #contentsArea #contentsBox #socialBox #fbBlock iframe {
  height: 480px;
}
#wrapperMiddle #contentsArea #contentsBox #socialBox #twBlock {
  float: left;
  width: 30.6%;
}
#wrapperMiddle #keyVisual2 {
  background: url(img/mainVisual2.png) no-repeat center top;
  background-size: cover;
  width: 100%;
  height: 580px;
  margin-bottom: 70px;
}
#outlineArea #outline_table .table_title {
  width: 150px;
  /* height: auto; */
  /* min-height: 30px; */
  background-color: #D5D5D5;
  padding-left: 25px;
  border: 4px solid #00a4e7;/* margin: 2px; */
  /* display: inline-block; */
}
#outlineArea #outline_table .table_disc {
  width: 600px;
  height: auto;
  background-color: rgb(247,247,247);
  padding-left: 25px;
  padding-right: 25px;
  border: 4px solid #4ac200;
}
/*#wrapperMiddle .appBtn02 a {
  padding: 18px 10px 14px 10px;
  line-height: 1.2;
  font-size: 1.4em;
  text-align: center;
}*/

.appBtn02 a {
  display: block;
  background: url(../img/cnt_ico_arrowWhite.png) no-repeat 12px center #ee0087;
  padding: 15px 0 11px 50px;
  color: #fff;
  font-size: 1.5625em;
}

/*
 *
 *  020.  RESPONSIVE
 *
 * -------------------------------------------------- */

@media screen and(max-width: 1125px) and (min-width: 910px) {
}

@media screen and (min-width: 910px) {
#wrapperMiddle #keyVisual h2 {
  width: 100%;
  padding-top: 45px;
}
#wrapperMiddle #keyVisual h2 img {
  margin-bottom: 30px;
}
#wrapperMiddle #keyVisual .appBtn02 {
  background-color: #fff;
  width: 308px;
  text-align: center;
  margin: 0 0 40px 0;
}
#wrapperMiddle .appBtn02 {
  max-width: 480px;
  margin-bottom: 0px;
}
#wrapperMiddle .appBtn02 a {
  padding: 18px 10px 14px 15px;
  line-height: 1.2;
  font-size: 1.4em;
  text-align: center;
}
/*
   *  CONTENTS
   *  @media screen and (max-width: 1125px) and (min-width: 910px)
   * -------------------------------------------------- */ }

@media screen and (max-width: 909px) and (min-width: 613px) {
/*
   *  CONTENTS
   *  @media screen and (max-width: 909px) and (min-width: 613px)
   * -------------------------------------------------- */
#wrapperMiddle #keyVisual {
  height: 350px;
}
#wrapperMiddle #keyVisual h2 {
  padding-top: 0px;
}
#wrapperMiddle #keyVisual h2 img {
  height: 160px;
}
#wrapperMiddle #contentsArea #contentsBox #socialBox #fbBlock {
  float: none;
  width: 100%;
  margin-bottom: 30px;
}
#wrapperMiddle #contentsArea #contentsBox #socialBox #twBlock {
  float: none;
  width: 100%;
  max-width: 520px;
  margin: 0 auto;
}
#wrapperMiddle .appBtn02 a {
  padding: 18px 10px 14px 15px;
  line-height: 1.2;
  font-size: 1.0em;
  text-align: center;
}
#wrapperMiddle #contentsArea #movieBox .wrapper #subBox {
  width: 40%;
  min-width: 300px;
  min-height: 356px;
  float: left;
  margin-left: 5%;
}
#wrapperMiddle #contentsArea #movieBox .wrapper #subBox p {
  padding-right: 10%;
 color:;
}
#wrapperMiddle #contentsArea #movieBox .wrapper #mainBox {
  width: 50%;
  float: right;
  height: auto;
  margin-right: 5%;
  margin-top: 5%;
}
#wrapperMiddle #contentsArea #contentsBox #socialBox #fbBlock {
  float: left;
  width: 40%;
  margin-right: 10%;
  border: 1px solid #AAA;
}
#wrapperMiddle #contentsArea #contentsBox #socialBox #twBlock {
  float: left;
  width: 45%;
}
}

@media screen and (max-width: 612px) {
/*
   *  CONTENTS
   *  @media screen and (max-width: 612px)
   * -------------------------------------------------- */
#wrapperMiddle #keyVisual {
  background: none;
  height: auto;
  margin-bottom: 0px;
}
#wrapperMiddle #keyVisual .keyVisualInner {
  padding: 0;
}
#wrapperMiddle #keyVisual img#main {
  display: inline;
}
#wrapperMiddle #keyVisual h2 {
  width: 90%;
  padding: 5px 5%;
  margin-bottom: 0;
}
#wrapperMiddle #keyVisual h2 img {
  max-width: 100%;
  vertical-align: middle;
  margin-bottom: 0px;
}
#wrapperMiddle #contentsArea {
  background-color: #fff;
}
/*movieBox追加 2014.2.28*/
#wrapperMiddle #contentsArea #movieBox .wrapper {
  max-width: 300px;
  margin: 0 auto;
  height: auto;
  padding-bottom: 50px;
  position: relative;
}
#wrapperMiddle #contentsArea #movieBox .wrapper #mainBox {
  width: 100%;
  height: 169px;
  float: left;
}
#wrapperMiddle #contentsArea #movieBox .wrapper #mainBox #movie {
  width: 300px;
  height: 169px;
}
#wrapperMiddle #contentsArea #movieBox .wrapper #subBox h7 {
  padding: 30px;
}
#wrapperMiddle #contentsArea #movieBox .wrapper #subBox p {
  padding: 30px;
}
#wrapperMiddle #contentsArea #movieBox .wrapper #subBox {
  max-width: 300px;
  height: auto;
  margin: 0 auto;
 background-color:;
}
/*#movieBox追加ここまで*/


#wrapperMiddle #contentsArea #contentsBox #contentsList dl {
  float: none;
  width: 100%;
  margin: 0 0 80px 0;
}
#wrapperMiddle #contentsArea #contentsBox #contentsList dl dt.cntImg {
  margin-bottom: 22px;
  text-align: center;
}
#wrapperMiddle #contentsArea #contentsBox #contentsList dl dt.cntTtl {
  margin-bottom: 8px;
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1;
}
#wrapperMiddle #contentsArea #contentsBox #contentsList dl dd {
  font-size: 0.875em;
  font-weight: normal;
  line-height: 1.7;
}
#wrapperMiddle #contentsArea #contentsBox #contentsList dl:nth-child(2n + 2) {
  margin-right: 0;
}
#wrapperMiddle #contentsArea #contentsBox #socialBox #fbBlock {
  float: none;
  width: 100%;
  margin-bottom: 30px;
}
#wrapperMiddle #contentsArea #contentsBox #socialBox #twBlock {
  float: none;
  width: 100%;
  max-width: 520px;
  margin: 0 auto;
}
#wrapperMiddle #keyVisual .appBtn02 a {
  padding: 2.5% 0;
  max-width: 100%;
}
#wrapperMiddle .appBtn02 {
  max-width: 223px;
  position: relative;
}
#wrapperMiddle #keyVisual .appBtn02 {
  margin: 0 auto 40px;
}
#wrapperMiddle .appBtn02 a {
  padding: 18px 10px 14px 20px;
  line-height: 1.2;
  font-size: 1.05em;
}
}
